@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: 'El Messiri', sans-serif;
    box-sizing: border-box;

}
body{
    margin: 0 auto;
    max-width: 2000px;
    min-height: 100vh;
}
header{
    height: 80px;
    background-color: rgba(72, 72, 127,1);
    box-shadow: 0 0 10px;
}
#header-div{
    height: 70px;
    background-color: #70C3D9;
    display: flex;
    flex-direction: row-reverse;
}
header div img{
    height: 52.8109px;
    margin-right: 10px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#holder{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    width: fit-content;
    width: 800px;
    margin: 20px 0;
    min-height: 380px;
}
#holder form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}
#holder form h2{
    text-align: center;
    margin-bottom: 40px;
}
body{
    min-height: 100vh;
    background: linear-gradient(to bottom,rgba(72, 72, 127,0.4),rgba(72, 72, 127,1)),url(../img/back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#holder form label,#holder form input{
    display: block;
}
#holder form input[type='email'],#holder form input[type='password']{
    text-align: left;
}
#holder form input{
    border: none;
    background-color: rgb(218, 218, 218);
    height:40px;
}
#holder form button{
    height: 35px;
    background-color: #70C3D9;
    border: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    min-width: 200px;
    margin: 30px auto;
    text-align: center;
}
#img{
    background-image: url(../img/img.jpg);
    background-size: cover;
    background-position: center;
}
@media screen and (max-width:600px){
    #holder{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: fit-content;
        margin: 20px 0;
    }
    main{
        justify-content: unset;
        align-items: unset;
        height: fit-content;
        min-height: unset;
    }
    #img{
        min-height: 200px;
    }
    #holder form input{
        margin-bottom: 0;
    }
    #holder form button{
        margin-bottom: 20px;
    }
    div#img {order: 1;}
    div#holder form {order: 2;}
    
}
footer{
    background-color: #48487F;
    height: fit-content;
    padding: 20px;
}
#social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
#social-media a{
    margin: 10px 15px;
    color: white;
}
#footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
}
#important-links{
    height: fit-content;
}
.footer-title{
    color: white;
    text-align: center;
}
#important-links ul{
    padding: 0;
}
#important-links li{
    text-align: center;
    list-style: none;
}
#important-links a{
    text-decoration: none;
    color: rgb(212, 156, 15);
}
#privacy-policy p{
    text-align: center;
    text-justify: distribute;
    color: white;
}
#privacy-policy p a{
    color: rgb(212, 156, 15) ;
}
/*footer resonsive*/
@media screen and (max-width:770px){
    footer{
        padding:20px 0;
    }
    #footer-content{
        width: 100%;
        grid-template-columns: 33% 33% 34%;
    }
    #privacy-policy p{
        font-size: 14px;
    }
}
@media screen and (max-width:601px){
    #footer-content{
        grid-template-columns: auto;
    }
}
#footer-copyrights{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 20px;
}
#footer-copyrights a{
    color: #70C3D9;
}
#statp{
    display:block;
    width: 100%;
    padding:10px;
    font-size: 20px;
    border-radius: 5px;
}