@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: 'El Messiri', sans-serif;
    box-sizing: border-box;

}
body{
    margin: 0 auto;
    max-width: 2000px;
}
header{
    height:  80px;
    background-color: #48487F;
    box-shadow: 0 0 10px;
    position: sticky;
    top: 0;
    z-index: 3;
}
#header-div{
    height: 70px;
    background-color: #70C3D9;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
header div img{
    height: 52.8109px;
}
#search_bar_parent{
    width: 70%;
    max-width: 600px;
    padding: 0 2%;
}
#search_bar{
    display: flex;
    flex-direction: row;
    margin: auto 0;
    height: 43px;
    width: 100%;
}
#search_bar button{
    border: none;
    border-radius: 10px 0 0px 10px;
    font-size: 30px;
    color: #3A4145;
    padding: 0 10px;
    background-color: white;
}
#search_bar button:hover{
    background-color: rgb(230, 230, 230);
    transition: 0.3s;
}
#search_bar input{
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding-right: 15px;
    width: 100%;
}
header div div{
    margin: auto 0;
    height: fit-content;
    padding: 0;
}
#user i{
    font-size: 45px;
    color: white;
}
#user_button{
    z-index: 2;
    display: block;
    background-color: transparent;
    border: none;
}
#user{
    position: relative;
}
@keyframes poping{
    from{opacity:0}
    to{opacity:1}
}

#sign_in{
    position: absolute;
    width: 344px ;
    height: 387.2325px ;
    left: -34;
    top: 5;
    background-color: rgb(255, 255, 255);
    border: #48487F solid 3px;
    z-index: 1;
    clip-path: polygon(0 16%, 11% 16%, 17% 9%, 23% 16%, 100% 16%, 100% 100%, 0 100%);
    padding: 90px 20px 0 20px;
    display: none;
    animation: poping;
    animation-duration: 0.5s;
}
#sign_in p{
    color: #333333;
    font-size: 35px;
    text-align: center;
}
#sign_in div{
    background-color: unset;
    flex-direction: row-reverse;
    margin: 5px 0 15px 0;
}
#sign_in form{
    justify-content: center;
    align-items: stretch;
}
#sign_in input{
    width: 100%;
    height: 41.316px ;
    background-color: #cccccc;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #666666;
    margin-bottom: 10px;
}
#sign_in button{
    margin: 0 auto;
    display: block;
    width: 131px;
    height: 41.3px;
    background-color: #48487F;
    font-size: 20px;
}
#sign_in a{
    color: #48487F;
}
#sign_in a:hover{
    color: #70C3D9;
}
#sign_in button:hover{
    background-color: #5959a0;
}
nav{
    height: 60px;
    margin: 30px auto 0 auto;
    width: fit-content;
}
.nav-link,.dropdown-item{
    font-size: 20px;
    color: #3A4145;
    padding: 5px;
}
@media screen and (min-width:1500px){
    .nav-link,.dropdown-item{
        font-size: 1.75em;
    }
}
.nav-link:hover,.dropdown-item:hover{
    background-color: #f0f0f0;
}
.nav-item{
    padding: 0 10px;
}
a.nav-link.dropdown-toggle::after{
    display: none;
}
#mobile_side_btn_x,#mobile_side_btn{
    border: none;
    background-color:transparent;
    color: white;
    font-size: 40px;
    display: none;
}

#sidemenu_mobile{
    background-color: #48487F;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 100vw;
    max-width: 360px;
    animation-name: sliding;
    animation-duration: 0.8s;
    padding: 0 10px 10px 10px;
    z-index: 4;
    padding-bottom:40px ;
    display: none;
}
#menu-mobile{
    overflow-y: scroll;
    height: 70vh;
}
::-webkit-scrollbar {
    width: 0.2em;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}
#sidemenu_user{
    color: white;
    text-align: center;
    margin: 40px 0px;
    background-color: transparent;
}
#sidemenu_user i{
    font-size: 80px;
    margin-bottom: 10px;
    text-align: center;
}
#sidemenu_user a{
    text-align: center;
    color: rgb(255, 255, 255);
}
#sidemenu_mobile ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

#sidemenu_mobile li:hover{
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255,0.2));
}
#sidemenu_mobile ul li a{
    font-size: 25px;
    padding-right: 10px;
}
#mobile_dropdown_btn{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 25px;
    padding-right: 10px;
}
#mobile_dropdown_btn i{
    font-size: 25px;
}
#menu-mobile,#mobile-dropdown{
    padding: 0;
}
#menu-mobile a{
    text-decoration: none;
    color: white;
}

@keyframes sliding{
    from{left:-360px;}
    to{left: 0;}
}
/* header responsive media code for phones/tablets  */
@media screen and (max-width:601px){
    ul{
        background-color: #48487F;
    }
    nav, #search_bar, #user{
        display: none;
    }
    #mobile_side_btn{
        display: unset;
    }
    header div{
        padding: 0 10px;
    }
}
#slide-container{
    max-width: 850px;
    margin: 0 auto;
    margin-top: 30px
}
#slide-container p{
    font-size: 22px;
}
main{
    margin: 40px 0;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.card{
    width: 250px;
    height: 350px;
    background: linear-gradient(rgba(204, 204, 204,0.7),rgba(204, 204, 204,0.3)),url(../img/cover_not_found.png);
    border-radius: 0;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: auto; 
}
.card img{
    width: 100%;
    height: 100%;
}
 
#card-container{
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}
@keyframes vanishing{
    from{display: initial;
    bottom: 0;}
    to{display: none;
    bottom: -70px;}
}
.title-book{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(72, 72, 127,0.85);
    color: white;
    border-top: 1px solid rgba(255, 255, 255,0.5);
    padding: 10px;
    font-size: 20px;
}
.card:hover .title-book{
    animation: vanishing 0.6s;
    bottom: -70px;
}
.card:hover .title-book::after{
    animation: vanishing 0.6s;
    animation-fill-mode: backwards;
    bottom: -70px;
}
#card-container-add{
    border: none;
    background-color: #48487F;
    margin: 0 auto;
    display: block;
    width: 131px;
    height: 41.3px;
    background-color: #48487F;
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    width: 250px;
    margin: 30px 0 0px 0;
}
#card-container-add:hover{
    background-color: #5959a0;
}
/*responsive cards*/

@media screen and (max-width:1300px) {
    #card-container{
        grid-template-columns: auto auto auto auto;
    }
}
@media screen and (max-width:1100px) {
    #card-container{
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width:790px){
    main{
        padding: 0;
    }
    #card-container{
        grid-template-columns: auto auto;
        gap: 5px;
        width: 100%;
    }
    
    .title-book{
        padding: 5px;
        font-size: 18px;
    }
}
@media screen and (max-width:520px){
    .card{
        max-width: 200px;
        max-height: 300px;
    }
}
@media screen  and (max-width:1300px){
    #card-conatiner{
        grid-template-columns: auto auto auto auto auto;
        background-color: #3A4145;
        
    }
}
@media screen and (max-width:405px){
    #card-container{
        width: 100%;
    }
    .card{
        width: 100%;
    }
    #card-container-add{
        width: 70%;
    }
}
footer{
    background-color: #48487F;
    height: fit-content;
    padding: 20px;
}
#social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
#social-media a{
    margin: 10px 15px;
    color: white;
}
#footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
}
#important-links{
    height: fit-content;
}
.footer-title{
    color: white;
    text-align: center;
}
#important-links ul{
    padding: 0;
}
#important-links li{
    text-align: center;
    list-style: none;
}
#important-links a{
    text-decoration: none;
    color: rgb(212, 156, 15);
}
#privacy-policy p{
    text-align: center;
    text-justify: distribute;
    color: white;
}
#privacy-policy p a{
    color: rgb(212, 156, 15) ;
}
/*footer resonsive*/
@media screen and (max-width:770px){
    footer{
        padding:20px 0;
    }
    #footer-content{
        width: 100%;
        grid-template-columns: 33% 33% 34%;
    }
    #privacy-policy p{
        font-size: 14px;
    }
}
@media screen and (max-width:601px){
    #footer-content{
        grid-template-columns: auto;
    }
}
#footer-copyrights{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 20px;
}
#footer-copyrights a{
    color: #70C3D9;
}
.splide_img_box{
    height: 100%;
}
.splide_img_box img{
    width: 100%;
}
#slide-container{
    max-width: 850px;
    margin: 0 auto;
    margin-top: 30px
}
#slide-container p{
    font-size: 22px;
}

.carousel-inner{
    background-color: rgb(54, 54, 54)!important;
}
.carousel-item a{
    width: fit-content!important;
    display: flex!important;
    margin: 0 auto!important;
}
.carousel-item{
    z-index: 1;
}
